source "https://rubygems.org"

group :development, :test do
  gem 'debugger', :require => false

  gem 'autotest-standalone'

  <% if options[:test_framework] == 'rspec' %>
    gem 'rspec'
  <% end %>
end